<section class="page">
  <h2>Restaurants disponibles</h2>

  @if (isLoading) {
    <p>Chargement des restaurants...</p>
  }

  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }

  <div class="restaurant-grid">
    @for (restaurant of restaurants; track restaurant.id) {
     <article class="restaurant-card">
  <div class="card-title">
    <mat-icon>storefront</mat-icon>
    <h3>{{ restaurant.name }}</h3>
  </div>

  <p class="description">{{ restaurant.description }}</p>

  <p class="info-line">
    <mat-icon>location_on</mat-icon>
    <span><strong>Adresse :</strong> {{ restaurant.address }}</span>
  </p>

  <p class="info-line">
    <mat-icon>call</mat-icon>
    <span><strong>Téléphone :</strong> {{ restaurant.phoneNumber }}</span>
  </p>

  <a [routerLink]="['/restaurants', restaurant.id]">
    <mat-icon>menu_book</mat-icon>
    Voir le menu
  </a>
</article>
    }
  </div>
</section>