<section class="page">
  <h2>Connexion</h2>

  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }

  @if (successMessage) {
    <p class="success">{{ successMessage }}</p>
  }

  <form class="login-form" (ngSubmit)="login()">
    <label>
      Email
      <input type="email" name="email" [(ngModel)]="email">
    </label>

    <label>
      Mot de passe
      <input type="password" name="password" [(ngModel)]="password">
    </label>

    <button type="submit">Se connecter</button>
  </form>

  <div class="register-options">
  <h3>Vous n’avez pas encore de compte ?</h3>

  <a routerLink="/register" [queryParams]="{ role: 'Client' }">
    Créer un compte client
  </a>

  <a routerLink="/register" [queryParams]="{ role: 'Restaurateur' }">
    Créer un compte restaurateur
  </a>

  <a routerLink="/register" [queryParams]="{ role: 'Livreur' }">
    Créer un compte livreur
  </a>
</div>
</section>